Repository migmolrod/mssc-brewery: changes, and which CircleCI parameters are due for each by the changed paths.
All: service-dependencies-changed, run-inventory-srv-workflow, run-order-srv-workflow, run-beer-srv-workflow

.circleci/config.yml:

version: 2.1

setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: master
          mapping: |
            services/pom.xml service-dependencies-changed true
            services/mssc-beer-inventory-service/.* run-inventory-srv-workflow true
            services/mssc-beer-order-service/.* run-order-srv-workflow true
            services/mssc-beer-service/.* run-beer-srv-workflow true
          config-path: .circleci/config-workflows.yml

incremental #38
  .idea/runConfigurations/BeerServiceApplication.xml
  .idea/runConfigurations/InventoryApplication.xml
  .idea/vcs.xml
  cloud/mssc-service-registry/.gitignore
  cloud/mssc-service-registry/.mvn/wrapper/maven-wrapper.jar
  cloud/mssc-service-registry/.mvn/wrapper/maven-wrapper.properties
  cloud/mssc-service-registry/mvnw
  cloud/mssc-service-registry/mvnw.cmd
  cloud/mssc-service-registry/pom.xml
  cloud/mssc-service-registry/src/main/java/guru/sfg/msscserviceregistry/MsscServiceRegistryApplication.java
  cloud/mssc-service-registry/src/main/resources/application.properties
  cloud/mssc-service-registry/src/test/java/guru/sfg/msscserviceregistry/MsscServiceRegistryApplicationTests.java
  services/mssc-beer-inventory-service/src/main/java/guru/sfg/beer/inventory/service/config/LocalDiscovery.java
  services/mssc-beer-order-service/src/main/java/guru/sfg/beer/order/service/config/LocalDiscovery.java
  services/mssc-beer-order-service/src/main/java/guru/sfg/beer/order/service/services/TastingRoomService.java
  services/mssc-beer-service/pom.xml
  services/mssc-beer-service/src/main/java/guru/sfg/msscbeerservice/BeerServiceApplication.java
  services/mssc-beer-service/src/main/java/guru/sfg/msscbeerservice/config/LocalDiscovery.java
  services/mssc-beer-service/src/main/java/guru/sfg/msscbeerservice/services/brewing/BrewingService.java
  services/mssc-beer-service/src/main/java/guru/sfg/msscbeerservice/services/inventory/InventoryService.java
  services/mssc-beer-service/src/main/java/guru/sfg/msscbeerservice/services/inventory/InventoryServiceFeignClient.java
  services/mssc-beer-service/src/main/java/guru/sfg/msscbeerservice/services/inventory/InventoryServiceFeignImpl.java
  services/mssc-beer-service/src/main/java/guru/sfg/msscbeerservice/services/inventory/InventoryServiceRestTemplateImpl.java
  services/mssc-beer-service/src/main/java/guru/sfg/msscbeerservice/web/mappers/BeerMapperDecorator.java
Due: run-inventory-srv-workflow, run-order-srv-workflow, run-beer-srv-workflow

closes #38
  .idea/encodings.xml
  .idea/runConfigurations/MSSC_Brewery_Services.xml
  cloud/mssc-api-gateway/.gitignore
  cloud/mssc-api-gateway/.mvn/wrapper/maven-wrapper.jar
  cloud/mssc-api-gateway/.mvn/wrapper/maven-wrapper.properties
  cloud/mssc-api-gateway/mvnw
  cloud/mssc-api-gateway/mvnw.cmd
  cloud/mssc-api-gateway/pom.xml
  cloud/mssc-api-gateway/src/main/java/guru/sfg/msscbrewerygateway/MsscBreweryGatewayApplication.java
  cloud/mssc-api-gateway/src/main/java/guru/sfg/msscbrewerygateway/config/LoadBalancerRoutingConfig.java
  cloud/mssc-api-gateway/src/main/java/guru/sfg/msscbrewerygateway/config/LocalhostRoutingConfig.java
  cloud/mssc-api-gateway/src/main/resources/application-local-discovery.properties
  cloud/mssc-api-gateway/src/main/resources/application.properties
  cloud/mssc-api-gateway/src/test/java/guru/sfg/msscbrewerygateway/MsscBreweryGatewayApplicationTests.java
  pom.xml
Due: none

version updates
  pom.xml
  services/mssc-beer-inventory-service/pom.xml
  services/mssc-beer-order-service/pom.xml
  services/mssc-beer-service/pom.xml
Due: run-inventory-srv-workflow, run-order-srv-workflow, run-beer-srv-workflow

clean unused docker files
  Dockerfile
  Makefile
  deploy.sh
  docker-compose.yaml
  entrypoint.sh
Due: none

refactor poms
  cloud/mssc-api-gateway/pom.xml
  cloud/mssc-service-registry/pom.xml
  cloud/pom.xml
  pom.xml
  services/mssc-beer-inventory-service/src/main/java/guru/sfg/beer/inventory/service/domain/BaseEntity.java
  services/mssc-beer-inventory-service/src/main/java/guru/sfg/beer/inventory/service/domain/BeerInventory.java
  services/mssc-beer-inventory-service/src/main/java/guru/sfg/brewery/model/BeerDto.java
  services/mssc-beer-inventory-service/src/main/java/guru/sfg/brewery/model/BeerInventoryDto.java
  services/mssc-beer-inventory-service/src/main/java/guru/sfg/brewery/model/BeerOrderDto.java
  services/mssc-beer-inventory-service/src/main/java/guru/sfg/brewery/model/BeerOrderLineDto.java
  services/mssc-beer-order-service/src/main/java/guru/sfg/beer/order/service/domain/BaseEntity.java
  services/mssc-beer-order-service/src/main/java/guru/sfg/beer/order/service/domain/BeerOrder.java
  services/mssc-beer-order-service/src/main/java/guru/sfg/beer/order/service/domain/BeerOrderLine.java
  services/mssc-beer-order-service/src/main/java/guru/sfg/beer/order/service/domain/Customer.java
  services/mssc-beer-order-service/src/main/java/guru/sfg/brewery/model/BeerOrderDto.java
  services/mssc-beer-service/src/main/java/guru/sfg/msscbeerservice/domain/Beer.java
  services/pom.xml
Due: service-dependencies-changed, run-inventory-srv-workflow, run-order-srv-workflow, run-beer-srv-workflow

added version plugin to cloud modules
  cloud/mssc-api-gateway/pom.xml
  cloud/mssc-service-registry/pom.xml
Due: none

update cloud modules versions
  cloud/mssc-api-gateway/pom.xml
  cloud/mssc-service-registry/pom.xml
  pom.xml
Due: none

autoformat pom files
  cloud/mssc-api-gateway/pom.xml
  cloud/mssc-service-registry/pom.xml
Due: none

added inventory service failover
  .idea/encodings.xml
  .idea/inspectionProfiles/Project_Default.xml
  README.md
  pom.xml
  services/mssc-beer-inventory-service-failover/.gitignore
  services/mssc-beer-inventory-service-failover/.mvn/wrapper/MavenWrapperDownloader.java
  services/mssc-beer-inventory-service-failover/.mvn/wrapper/maven-wrapper.jar
  services/mssc-beer-inventory-service-failover/.mvn/wrapper/maven-wrapper.properties
  services/mssc-beer-inventory-service-failover/README.md
  services/mssc-beer-inventory-service-failover/mvnw
  services/mssc-beer-inventory-service-failover/mvnw.cmd
  services/mssc-beer-inventory-service-failover/pom.xml
  services/mssc-beer-inventory-service-failover/src/main/java/guru/sfg/beer/inventory/service/BeerInventoryApplication.java
  services/mssc-beer-inventory-service-failover/src/main/java/guru/sfg/beer/inventory/service/config/LocalDiscovery.java
  services/mssc-beer-inventory-service-failover/src/main/java/guru/sfg/beer/inventory/service/web/controllers/BeerInventoryController.java
  services/mssc-beer-inventory-service-failover/src/main/java/guru/sfg/brewery/model/BeerInventoryDto.java
  services/mssc-beer-inventory-service-failover/src/main/resources/application.properties
  services/mssc-beer-inventory-service-failover/src/test/java/guru/sfg/beer/inventory/service/BeerInventoryApplicationTests.java
  services/mssc-beer-service/src/main/java/guru/sfg/msscbeerservice/web/mappers/BeerMapper.java
  services/pom.xml
Due: service-dependencies-changed, run-beer-srv-workflow

fixed errors in inventory failover
  .idea/encodings.xml
  README.md
  pom.xml
  services/mssc-beer-inventory-failover/.gitignore
  services/mssc-beer-inventory-failover/.mvn/wrapper/MavenWrapperDownloader.java
  services/mssc-beer-inventory-failover/.mvn/wrapper/maven-wrapper.jar
  services/mssc-beer-inventory-failover/.mvn/wrapper/maven-wrapper.properties
  services/mssc-beer-inventory-failover/README.md
  services/mssc-beer-inventory-failover/mvnw
  services/mssc-beer-inventory-failover/mvnw.cmd
  services/mssc-beer-inventory-failover/pom.xml
  services/mssc-beer-inventory-failover/src/main/java/guru/sfg/beer/inventory/service/BeerInventoryApplication.java
  services/mssc-beer-inventory-failover/src/main/java/guru/sfg/beer/inventory/service/config/LocalDiscovery.java
  services/mssc-beer-inventory-failover/src/main/java/guru/sfg/beer/inventory/service/web/controllers/BeerInventoryController.java
  services/mssc-beer-inventory-failover/src/main/java/guru/sfg/brewery/model/BeerInventoryDto.java
  services/mssc-beer-inventory-failover/src/main/resources/application.properties
  services/mssc-beer-inventory-failover/src/test/java/guru/sfg/beer/inventory/service/BeerInventoryApplicationTests.java
  services/mssc-beer-inventory-service-failover/src/main/java/guru/sfg/beer/inventory/service/web/controllers/BeerInventoryController.java
  services/pom.xml
Due: service-dependencies-changed

added resilience4j circuit breaker
  cloud/mssc-api-gateway/pom.xml
  cloud/mssc-api-gateway/src/main/java/guru/sfg/msscbrewerygateway/config/LoadBalancerRoutingConfig.java
Due: none

added resilience4j circuit breaker
  .idea/runConfigurations/CloudGatewayApplication.xml
  .idea/runConfigurations/CloudServiceRegistryApplication.xml
  .idea/runConfigurations/InventoryFailover.xml
  .idea/runConfigurations/OrderServiceApplication.xml
  services/mssc-beer-service/pom.xml
  services/mssc-beer-service/src/main/java/guru/sfg/msscbeerservice/services/inventory/InventoryFailoverFeignClient.java
  services/mssc-beer-service/src/main/java/guru/sfg/msscbeerservice/services/inventory/InventoryFailoverFeignClientImpl.java
  services/mssc-beer-service/src/main/java/guru/sfg/msscbeerservice/services/inventory/InventoryServiceFeignClient.java
  services/mssc-beer-service/src/main/java/guru/sfg/msscbeerservice/services/inventory/InventoryServiceRestTemplateImpl.java
  services/mssc-beer-service/src/main/resources/application-local-discovery.properties
  services/pom.xml
Due: service-dependencies-changed, run-beer-srv-workflow

added config cloud server
  .idea/encodings.xml
  .idea/misc.xml
  .idea/vcs.xml
  README.md
  cloud/mssc-config-server/.gitignore
  cloud/mssc-config-server/.mvn/wrapper/maven-wrapper.jar
  cloud/mssc-config-server/.mvn/wrapper/maven-wrapper.properties
  cloud/mssc-config-server/mvnw
  cloud/mssc-config-server/mvnw.cmd
  cloud/mssc-config-server/pom.xml
  cloud/mssc-config-server/src/main/java/guru/sfg/msscconfigserver/MsscConfigServerApplication.java
  cloud/mssc-config-server/src/main/resources/application.yml
  cloud/mssc-config-server/src/test/java/guru/sfg/msscconfigserver/MsscConfigServerApplicationTests.java
  cloud/pom.xml
  pom.xml
Due: none

incremental #40
  .idea/runConfigurations/BeerServiceApplication.xml
  .idea/runConfigurations/CloudServiceRegistryApplication.xml
  .idea/runConfigurations/InventoryApplication.xml
  .idea/runConfigurations/OrderServiceApplication.xml
  cloud/mssc-api-gateway/src/main/resources/application.properties
  services/mssc-beer-service/src/main/resources/application-local-discovery.properties
  services/mssc-beer-service/src/main/resources/application-local-discovery.yml
  services/mssc-beer-service/src/main/resources/application-local-mysql.yml
  services/mssc-beer-service/src/main/resources/application-local.properties
  services/mssc-beer-service/src/main/resources/application.properties
  services/mssc-beer-service/src/main/resources/application.yml
  services/mssc-beer-service/src/main/resources/bootstrap-local-discovery.yml
  services/pom.xml
Due: service-dependencies-changed, run-beer-srv-workflow

incremental #40
  .idea/runConfigurations/OrderServiceApplication.xml
  services/mssc-beer-order-service/src/main/resources/application-local-mysql.yml
  services/mssc-beer-order-service/src/main/resources/application-local.properties
  services/mssc-beer-order-service/src/main/resources/application.properties
  services/mssc-beer-order-service/src/main/resources/application.yml
  services/mssc-beer-order-service/src/main/resources/bootstrap-local-discovery.yml
Due: run-order-srv-workflow

incremental #40
  .idea/runConfigurations/BeerServiceApplication.xml
  .idea/runConfigurations/CloudGatewayApplication.xml
  .idea/runConfigurations/CloudServiceRegistryApplication.xml
  .idea/runConfigurations/InventoryApplication.xml
  .idea/runConfigurations/InventoryFailover.xml
  .idea/runConfigurations/OrderServiceApplication.xml
  services/mssc-beer-inventory-service/src/main/resources/application-local-mysql.yml
  services/mssc-beer-inventory-service/src/main/resources/application-local.properties
  services/mssc-beer-inventory-service/src/main/resources/application.properties
  services/mssc-beer-inventory-service/src/main/resources/application.yml
  services/mssc-beer-inventory-service/src/main/resources/bootstrap-local-discovery.yml
Due: run-inventory-srv-workflow

incremental #41
  README.md
Due: none

incremental #41
  cloud/mssc-api-gateway/pom.xml
  cloud/mssc-api-gateway/src/main/resources/application-local-discovery.properties
  cloud/mssc-api-gateway/src/main/resources/application-local-discovery.yml
  cloud/mssc-api-gateway/src/main/resources/application.properties
  cloud/mssc-api-gateway/src/main/resources/application.yml
  cloud/mssc-service-registry/src/main/resources/application.properties
  cloud/mssc-service-registry/src/main/resources/application.yml
  services/mssc-beer-inventory-failover/src/main/resources/application.properties
  services/mssc-beer-inventory-failover/src/main/resources/application.yml
  services/mssc-beer-order-service/src/main/java/guru/sfg/beer/order/service/services/TastingRoomService.java
  services/pom.xml
Due: service-dependencies-changed, run-order-srv-workflow

incremental #41
  .gitignore
  services/mssc-beer-inventory-failover/src/main/resources/logback-spring.xml
  services/mssc-beer-inventory-service/src/main/resources/logback-spring.xml
  services/mssc-beer-order-service/src/main/resources/logback-spring.xml
  services/mssc-beer-service/src/main/resources/logback-spring.xml
  services/pom.xml
Due: service-dependencies-changed, run-inventory-srv-workflow, run-order-srv-workflow, run-beer-srv-workflow

incremental #41
  services/mssc-beer-inventory-failover/src/main/resources/application.yml
  services/mssc-beer-inventory-service/src/main/resources/application.yml
  services/mssc-beer-order-service/src/main/resources/application.yml
  services/mssc-beer-service/src/main/resources/application.yml
Due: run-inventory-srv-workflow, run-order-srv-workflow, run-beer-srv-workflow

added docker plugin to all services
  .gitignore
  cloud/mssc-api-gateway/pom.xml
  cloud/mssc-api-gateway/src/main/docker/Dockerfile
  cloud/mssc-config-server/pom.xml
  cloud/mssc-config-server/src/main/docker/Dockerfile
  cloud/mssc-service-registry/pom.xml
  cloud/mssc-service-registry/src/main/docker/Dockerfile
  pom.xml
  services/mssc-beer-inventory-failover/pom.xml
  services/mssc-beer-inventory-failover/src/main/docker/Dockerfile
  services/mssc-beer-inventory-service/pom.xml
  services/mssc-beer-inventory-service/src/main/docker/Dockerfile
  services/mssc-beer-order-service/pom.xml
  services/mssc-beer-order-service/src/main/docker/Dockerfile
  services/mssc-beer-service/pom.xml
  services/mssc-beer-service/src/main/docker/Dockerfile
Due: run-inventory-srv-workflow, run-order-srv-workflow, run-beer-srv-workflow

minimal functional sample (only inventory-service)
  .gitignore
  .idea/dataSources.xml
  .idea/misc.xml
  .idea/sqldialects.xml
  Makefile
  README.md
  cloud/mssc-api-gateway/src/main/docker/Dockerfile
  cloud/mssc-config-server/src/main/docker/Dockerfile
  cloud/mssc-config-server/src/main/resources/application-local-discovery.yml
  cloud/mssc-service-registry/src/main/docker/Dockerfile
  docker-compose.yaml
  docker/mysql/init/beer-inventory-service.sql
  docker/mysql/init/beer-order-service.sql
  docker/mysql/init/beer-service.sql
  pom.xml
  services/mssc-beer-inventory-failover/src/main/docker/Dockerfile
  services/mssc-beer-inventory-service/src/main/docker/Dockerfile
  services/mssc-beer-inventory-service/src/main/resources/application-local-discovery.yml
  services/mssc-beer-inventory-service/src/main/resources/application.yml
  services/mssc-beer-inventory-service/src/main/resources/bootstrap-local-discovery.yml
  services/mssc-beer-order-service/src/main/docker/Dockerfile
  services/mssc-beer-order-service/src/main/java/guru/sfg/beer/order/service/bootstrap/BeerOrderBootStrap.java
  services/mssc-beer-order-service/src/main/resources/application-local-discovery.yml
  services/mssc-beer-order-service/src/main/resources/bootstrap-local-discovery.yml
  services/mssc-beer-service/src/main/docker/Dockerfile
  services/mssc-beer-service/src/main/resources/application-local-discovery.yml
  services/mssc-beer-service/src/main/resources/bootstrap-local-discovery.yml
Due: run-inventory-srv-workflow, run-order-srv-workflow, run-beer-srv-workflow

refactor of load balancing routes in api gateway
  cloud/mssc-api-gateway/src/main/java/guru/sfg/msscbrewerygateway/config/LoadBalancerRoutingConfig.java
  docker-compose.yaml
Due: none

added beer service to docker compose
  .env.dist
  Makefile
  cloud/mssc-api-gateway/src/main/java/guru/sfg/msscbrewerygateway/config/LoadBalancerRoutingConfig.java
  docker-compose.yaml
  services/mssc-beer-service/src/main/resources/application.yml
Due: run-beer-srv-workflow

added beer order to compose stack
  Makefile
  docker-compose.yaml
  services/mssc-beer-order-service/pom.xml
  services/mssc-beer-order-service/src/main/java/guru/sfg/beer/order/service/BeerOrderServiceApplication.java
  services/mssc-beer-order-service/src/main/java/guru/sfg/beer/order/service/services/beer/BeerServiceFeignClient.java
  services/mssc-beer-order-service/src/main/java/guru/sfg/beer/order/service/services/beer/BeerServiceFeignImpl.java
  services/mssc-beer-order-service/src/main/java/guru/sfg/beer/order/service/services/beer/BeerServiceRestTemplateImpl.java
  services/mssc-beer-order-service/src/main/resources/application.yml
Due: run-order-srv-workflow

fixed bug in beer service rest template impl
  services/mssc-beer-order-service/src/main/java/guru/sfg/beer/order/service/services/beer/BeerServiceRestTemplateImpl.java
  services/mssc-beer-order-service/src/test/java/guru/sfg/beer/order/service/services/BeerOrderManagerImplIntegrationTest.java
Due: run-order-srv-workflow

changed compose to start gateway sooner
  docker-compose.yaml
Due: none

minor code cleanup
  services/mssc-beer-service/src/main/java/guru/sfg/msscbeerservice/services/BeerServiceImpl.java
Due: run-beer-srv-workflow

added elk stash
  Makefile
  docker-compose.elk.yaml
  docker-compose.yaml
  docker/filebeat/filebeat.docker.yaml
Due: none

version updates
  cloud/mssc-api-gateway/pom.xml
  cloud/mssc-config-server/pom.xml
  cloud/mssc-service-registry/pom.xml
  cloud/pom.xml
  pom.xml
  services/mssc-beer-inventory-failover/pom.xml
  services/mssc-beer-inventory-service/pom.xml
  services/mssc-beer-order-service/pom.xml
  services/mssc-beer-service/pom.xml
  services/pom.xml
Due: service-dependencies-changed, run-inventory-srv-workflow, run-order-srv-workflow, run-beer-srv-workflow
